<a href="/employees" style="font-size: 30;" style="color: blueviolet;">Employees</a>
<p></p>
<a href="/departments" style="font-size: 30;" style="color: blueviolet;">Departments</a>
<p></p>
<a href="/empMongoDB" style="font-size: 30;" style="color: blueviolet;">Employees (MongoDB) </a>
<a> Not Working</a>